page-feed {
    .pius{
        display: flex;
        flex-direction: column-reverse;
    }
    .footer{
        display: flex;
        flex-direction: row;
    }
    .conteudo{
        margin-left: 1ch;
    }

    .error{
        color: red;
    }
    .backgrounderror{
        background-color: red;
    }

}
