<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title style="padding-top: 5px">Feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content color="light">
  <ion-card class="newPius" color="test">
    <h1 style="text-align: center">Crie um novo Piu!</h1>
    <ion-textarea placeholder="Escreva seu piu aqui!" rows="4" id="content" [(ngModel)] = "_content" (input)="updateCounter()" class={{_classInput}}></ion-textarea>
    <p id="dadcounter" class={{_classCounter}} >Contador: <span id="counter">{{_content.length}}</span>/140</p>
    <button ion-button block (click)="postsPiu()" color="trendy">Piuwar!</button>
  </ion-card>
  <div class="pius">
    <ion-card *ngFor="let piu of pius" color="light">
      <div style="margin:1.5ch">
        <h1 (click)="goToPerfil(piu.usuario)" icon-start><ion-icon name="contact"></ion-icon>{{piu.usuario.username}}</h1>
        <p class="date">{{piu.data | timeAgo}}</p>
      </div>
      <p class="conteudo">{{piu.conteudo}}</p>
      <div  class="footer">
        <button ion-button icon-start round small *ngIf ="!piu.favoritado" (click)="favorites(piu)">
          <ion-icon name="star-outline"></ion-icon> Favoritar
        </button>
        <button ion-button icon-start round small color="favorited" *ngIf ="piu.favoritado" (click)="unfavorites(piu)">
          <ion-icon name="star"></ion-icon> Favoritar
        </button>
        <button ion-button icon-start round small color="secondary" (click)="shareWhats(piu.conteudo)">
          <ion-icon name="logo-whatsapp"></ion-icon> Whatsapp
        </button> 
      </div>
    </ion-card>
    

  </div>

</ion-content>
